<h1>This is the about page. </h1>

<p> This page is designed to be an admech dice simulator. </p>
<p> There will be further discussion of general admech strategy. </p>

<div>
    <ul> Some high level builds: </ul>
        <li> Max Skitarii: 4 dragoons, 3 walkers </li>
        <li> Librarius Conclave with Daemons </li>
        <li> Cawltarri with Skitarii CAD </li>
        <li> Haemotrope and Servitor Convocation </li>
        <li> Castellon Robots </li>
        <li> Dual Knights </li>
</div>
