<h1>Welcome to the index page for the WarCon Blog.</h1>

<p> Your place for WarCon news.  </p>






<p></p>

<div class="center jumbotron">
  <h1>WARCON BLOG</h1>


  <%= image_tag "WarCon" %>
  <%= link_to 'Datasheets', datasheets_path, class: "btn btn-danger btn-lg btn-xlarge" %>
  <%= link_to 'Simulations', simulations_path, class: "btn btn-danger btn-lg btn-xlarge" %>
  <%= link_to 'Weapons', weapons_path, class: "btn btn-danger btn-lg btn-xlarge" %>
  
</div>
